@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&display=swap');
* {
    margin: 0;
    font-family: Jost;
}

#list {
    width: 300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

li {
    margin: 0;
    padding: 10px;
    background-color: #9face4;
}

li:nth-child(2n) {
    background-color: #e6e6e6;
}

p {
    padding: 4px;
}

li p:first-child {
    text-transform: uppercase;
}

button {
    width: 150px;
}